.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/coverage
build-storybook.log
/storybook-static
/.vercel
/e2e-tests/report
/e2e-tests/results
/bundle-visualizer
/src/lib/services/contentful/schema.ts

# generated test files
*.md.html
*.md.json