.main-image img {
  max-height: 450px;
}

.construction-sign {
  width: 100%;
  max-width: 175px;
}

.construction-sign-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-greeting {
  overflow-wrap: anywhere;
}
