// TODO: [LDAF-370] Create a <CardGroup /> Wrapper to
// avoid dealing with  the <ul> and styling overrides here.
.usa-prose .service-group-list {
  list-style: none;
  padding-left: 0;
  .usa-card__container {
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-row {
  flex-wrap: nowrap;
  margin-bottom: 15px;

  .gallery-image:not(:last-child) {
    margin-right: 10px;
  }

  .gallery-image:not(:first-child) {
    margin-left: 10px;
  }

  .gallery-image div[role="img"] {
    height: 100%;
    width: 100%;
  }
}
