.top-tier-page-hero-image {
  height: 33vh;
}

// TODO: [LDAF-370] Create a <CardGroup /> Wrapper to
// avoid dealing with  the <ul> and styling overrides here.
.usa-prose .service-group-list {
  list-style: none;
  padding-left: 0;
  .usa-card__container {
    margin-left: 0;
    margin-right: 0;
  }
}
