/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@use "uswds" with (
  $theme-font-path: $theme-font-path,
  $theme-image-path: $theme-image-path,
  $theme-show-notifications: false
);
